body {
	background: #000115;
	color: white;
	font-size: 16px;
	line-height: 1.6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.container {
	margin-bottom: 50px;
}

.nav-top {
	width: 100%;
	background: black;
	border-radius: 5px;
	margin: 0 auto;overflow: auto;
}

.nav-top a {
	text-decoration: none;
	color: white;
	-webkit-transition:all 300ms;
}

.nav-top a:hover {
	color: #CE0BA5;
}

.nav-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 580px;
	margin: 0 auto;
}

.nav-top ul li {
	float: left;
}

.nav-top ul li a {

	display: block;
	padding: 20px;
}

.logo { 
	background-color: red;
	width: 650px;
	height: 260px;
}

.demo-logo {
	text-align: center;
}

p {
	padding-left: 20px;
}

.q {
	margin: 50px 0;
}

.row h1 {
	padding: 30px 0;
	border-top:1px solid #3604B3;
	border-bottom: 1px solid #3604B3;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	color: #CE0BA5;
	margin: 10px 0;
}

@-webkit-keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to { 
		left: -10000px;
		top: -2000px;
	}
}

#background {

	background: black url(../img/background.png) repeat 5% 5%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -300;
	opacity: 0.2;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 200s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

}

#midground {
	background: url(../img/midground.png) repeat 20% 20%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -200;
	opacity: 0.2;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url(../img/foreground.png) repeat 35% 35%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -100;
	opacity: 0.1;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}


.btn-ya {
	background: rgb(206,11,165); /* Old browsers */
	color: white;
font-weight: 700;

	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-shadow:none;
	font-size: 28px;
	max-width: 300px;
	padding: 20px 40px;
	margin-top: 20px;
}

h1 small {
	font-size: 20px;
	color: #999;
}

.btn-ya:hover {
	background: #a809a8;
}